.weGo {
  min-height: 100vh;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  will-change: background-image;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--wallpaper-image);
  .backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

// @media screen and (min-width: 576px) {
//   .apps {
//     grid-template-columns: repeat(2, 172px);
//     padding: 40px;
//   }
// }

// @media screen and (min-width: 768px) {
//   .apps {
//     grid-template-columns: repeat(2, 172px);
//     padding: 50px;
//   }
// }

// @media screen and (min-width: 992px) {
//   .apps {
//     grid-template-columns: repeat(3, 172px);
//     padding: 60px;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .apps {
//     grid-template-columns: repeat(4, 172px);
//     padding: 80px;
//   }
// }

// @media screen and (min-width: 1600px) {
//   .apps {
//     grid-template-columns: repeat(6, 172px);
//     padding: 80px;
//   }
// }
