.app {
  display: block;
  padding: 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    background-color: rgba(255, 255, 255, 0.7);
    .more {
      opacity: 1;
    }
  }
}

.more {
  position: absolute;
  top: 10px;
  right: 6px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.icon {
  width: 72px;
  height: 72px;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;

  .iconImage {
    display: block;
    width: 100%;
    height: 100%;
  }

  .iconText {
    width: 100%;
    height: 100%;
    line-height: 65px;
    font-size: 48px;
    color: #fff;
    text-align: center;
    background-color: #4096ff;
  }
}

.name {
  display: -webkit-box;
  height: 36px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
