.setting {
  width: 40px;
  height: 40px;
  line-height: 30px;
  padding: 4px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
  }
}
